<div class="tab-pane active" id="baseDataListTab" xmlns:th="http://www.w3.org/1999/xhtml">
    <section class="content-header">
        <h1>基础数据
            <small>baseData list</small>
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i> 主目录</li>
            <li>基础数据</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <!-- /.box -->
                <div class="box">
                    <div style="cursor: pointer;" class="box-header">
                        <div th:remove="${#sets.contains(session.resources,'baseData_add')} ? none : all" class="glyphicon glyphicon-plus" id="addBaseData" title="添加">添加</div>
                        <div th:remove="${#sets.contains(session.resources,'baseData_delete')} ? none : all" class="glyphicon glyphicon-remove" id="deleteBaseData" title="删除">删除</div>
                        <div th:remove="${#sets.contains(session.resources,'baseData_update')} ? none : all" class="glyphicon glyphicon-pencil" id="updateBaseData" title="编辑">编辑</div>
                        <div class="glyphicon glyphicon-refresh" id="refreshBaseData" title="刷新">刷新</div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="baseData1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12">
                                    <form role="form" id="baseDataListForm">
                                        <table id="baseData1" class="table table-bordered table-striped dataTable"
                                               role="grid"
                                               aria-describedby="baseData1_info">
                                            <thead>
                                            <tr role="row">
                                                <th><input class="thCheckbox" type="checkbox"/></th>
                                                <th>数据类型</th>
                                                <th>数据名</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
    </section>
</div>



<div id="baseDataAddBox" class="col-xs-5">
    <div class="box box-info" style="display: none;">
        <div class="box-header with-border">
            <h3 class="box-title">上传图片</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <form role="form" id="baseDataForm" action="baseData/addBaseData">
                <label>数据类型 &amp; 数据值</label>
                <input type="hidden" id="baseDataId" name="baseDataId" />
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <select name="baseDataType"
                                    id="baseDataType" class="form-control select2">
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="input-group">
                            <span class="input-group-addon" title="名称">
                                <i class="fa fa-hand-o-right"></i>
                            </span>
                            <input id="baseDataName"
                                   type="text"
                                   name="baseDataName" class="form-control"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            <button type="button" class="btn btn-primary pull-right margin" data-widget="remove">关闭</button>
            <button type="button" class="btn btn-success pull-right margin" id="submitDataBaseBtn">保存</button>
        </div>
        <!-- /.box-footer -->
    </div>
</div>


<link rel="stylesheet" href="AdminLTE-2.3.11/plugins/datatables/dataTables.bootstrap.css"/>
<link rel="stylesheet" href="AdminLTE-2.3.11/plugins/select2/select2.min.css"/>
<link rel="stylesheet" href="AdminLTE-2.3.11/dist/css/AdminLTE.min.css"/>
<link rel="stylesheet" href="AdminLTE-2.3.11/dist/css/skins/_all-skins.min.css"/>
<style>
    #baseDataAddDialog {
        display: none;
    }
</style>

<script src="AdminLTE-2.3.11/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="AdminLTE-2.3.11/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="AdminLTE-2.3.11/plugins/select2/select2.full.min.js"></script>
<script src="js/teacher/baseData_list.js"></script>