<div class="tab-pane active" id="paperListTab">
    <section class="content-header">
        <h1>试卷列表
            <small>paper list</small>
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i> 主目录</li>
            <li>试卷管理</li>
            <li class="active">试卷查询</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row" xmlns:th="http://www.w3.org/1999/xhtml">
            <div class="col-xs-12">
                <!-- /.box -->
                <div class="box">
                    <div style="cursor: pointer;" class="box-header">
                        <div class="glyphicon glyphicon-plus" id="addPaper" title="添加">添加</div>
                        <div class="glyphicon glyphicon-remove" id="deletePaper" title="删除">删除</div>
                        <div class="glyphicon glyphicon-pencil" id="updatePaper" title="编辑">编辑</div>
                        <div class="glyphicon glyphicon-refresh" id="refreshPaper" title="刷新">刷新</div>
                        <div class="glyphicon glyphicon-download-alt" id="downloadPaper" title="下载">下载</div>
                        <div class="glyphicon glyphicon-stats" id="chartPaper" title="图表">图表</div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="paper1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12">
                                    <form role="form" id="paperListForm">
                                        <table id="paper1" class="table table-bordered table-striped dataTable">
                                            <thead>
                                            <tr>
                                                <th>
                                                    <input class="thCheckbox" type="checkbox"/></th>
                                                <th>试卷名称</th>
                                                <th>试卷类型</th>
                                                <th>答题时间</th>
                                                <th>题目总数</th>
                                                <th>更新时间</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
    </section>
</div>
<!--/.tab-pane -->

<div class="modal" id="paperChartDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close clsBtn" data-dismiss="paperChartDialog" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">图表展示</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <canvas width="600" height="230" id="paperChartCanvase"></canvas>
                </div>
                <div class="row blue-button-group">
                    <button type="button" id="staPaperUpdateWhen" class="btn pull-right btn-default margin">时间
                    </button>
                    <button type="button" id="staPaperSubjectCnt" class="btn pull-right btn-default margin">题量</button>
                    <button type="button" id="staPaperType" class="btn pull-right btn-default btn-danger margin">类型
                    </button>
                    <button type="button" id="staPaperAnsTime" class="btn pull-right btn-default margin">分值</button>
                </div>
                <div class="row green-button-group">
                    <button type="button" id="staPaperBar" class="btn pull-right btn-default btn-success margin">柱状图
                    </button>
                    <button type="button" id="staPaperLine" class="btn pull-right btn-default margin">折线图</button>
                    <button type="button" id="staPaperRadar" class="btn pull-right btn-default margin">雷达图</button>
                    <button type="button" id="staPaperDoughnut" class="btn pull-right btn-default margin">饼图</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="launchStaPaper" class="btn btn-warning margin">统计</button>
                <button type="button" class="btn btn-info clsBtn" data-dismiss="paperChartDialog">关闭</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<link rel="stylesheet" href="AdminLTE-2.3.11/plugins/datatables/dataTables.bootstrap.css"/>
<style>
    .tb_paperInfo {
        cursor: pointer;
    }

    #paperInfoDialog {
        display: none;
    }

    #dig_paperName {
        font-weight: bold;
    }
</style>
<script src="AdminLTE-2.3.11/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="AdminLTE-2.3.11/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="js/teacher/paper_list.js"></script>