<div class="tab-pane active" id="permissionListTab" >
    <section class="content-header">
        <h1>权限管理
            <small>permission manage</small>
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i> 主目录</li>
            <li class="active">权限管理</li>
        </ol>
    </section>

    <section class="content">
        <div class="row" xmlns:th="http://www.w3.org/1999/xhtml">
            <div class="col-xs-6">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <div style="cursor: pointer;" class="box-header">
                            <div th:remove="${#sets.contains(session.resources,'permission_user_add')} ? none : all"
                                 class="glyphicon glyphicon-plus" id="addUser" title="添加">添加
                            </div>
                            <div th:remove="${#sets.contains(session.resources,'permission_user_delete')} ? none : all"
                                 class="glyphicon glyphicon-remove" id="deleteUser" title="删除">删除
                            </div>
                            <!--<div th:remove="${#sets.contains(session.resources,'test')} ? none : all"
                                 class="glyphicon glyphicon-pencil" id="updateUser" title="编辑">编辑
                            </div>-->
                            <div class="glyphicon glyphicon-refresh" id="refreshUser" title="刷新">刷新
                            </div>
                            <div th:remove="${#sets.contains(session.resources,'permission_role_rel')} ? none : all"
                                 class="glyphicon glyphicon-grain" id="roleTreeBtn" title="角色关联">角色关联
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form role="form" id="userListForm">
                            <table id="userTable" class="table table-bordered table-striped dataTable">
                                <thead>
                                <tr role="row">
                                    <th><input class="thCheckbox" type="checkbox"/></th>
                                    <th>用户名</th>
                                    <th>更新时间</th>
                                    <th>更新者</th>
                                </tr>
                                </thead>
                            </table>
                        </form>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                    </div>
                    <!-- /.box-footer -->
                </div>
            </div>
            <div class="col-xs-6">
                <div class="box box-info">
                    <div style="cursor: pointer;" class="box-header with-border">
                        <div th:remove="${#sets.contains(session.resources,'permission_role_add')} ? none : all"
                             class="glyphicon glyphicon-plus" id="addRole" title="添加">添加
                        </div>
                        <div th:remove="${#sets.contains(session.resources,'permission_role_delete')} ? none : all"
                             class="glyphicon glyphicon-remove" id="deleteRole" title="删除">删除
                        </div>
                        <div th:remove="${#sets.contains(session.resources,'permission_role_update')} ? none : all"
                             class="glyphicon glyphicon-pencil" id="updateRole" title="编辑">编辑
                        </div>
                        <div th:remove="${#sets.contains(session.resources,'test')} ? none : all"
                             class="glyphicon glyphicon-refresh" id="refreshRole" title="刷新">刷新
                        </div>
                        <div th:remove="${#sets.contains(session.resources,'permission_resources_rel')} ? none : all"
                             class="glyphicon glyphicon-grain" id="resourcesRelTreeBtn" title="资源关联">资源关联
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form role="form" id="roleListForm">
                            <table id="roleTable" class="table table-bordered table-striped dataTable">
                                <thead>
                                <tr role="row">
                                    <th><input class="thCheckbox" type="checkbox"/></th>
                                    <th>角色名</th>
                                    <th>更新时间</th>
                                    <th>更新者</th>
                                </tr>
                                </thead>
                            </table>
                        </form>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
</div>
<!-- /.tab-pane -->

<div id="userAddBox" class="col-xs-4">
    <div class="box box-info" style="display: none;">
        <div class="box-header with-border">
            <h3 class="box-title">添加用户</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <form role="form" id="userForm">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>用户名</label>
                            <div class="input-group">
                            <span class="input-group-addon" title="用户名">
                                <i class="fa fa-user-plus"></i>
                            </span>
                                <input id="userName"
                                       type="text"
                                       name="userName" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>密码</label>
                            <div class="input-group">
                            <span class="input-group-addon" title="密码">
                                <i class="fa  fa-expeditedssl"></i>
                            </span>
                                <input id="password"
                                       type="password"
                                       name="password" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>确认密码</label>
                            <div class="input-group">
                            <span class="input-group-addon" title="确认密码">
                                <i class="fa fa-unlock"></i>
                            </span>
                                <input id="againPassword"
                                       type="password"
                                       name="againPassword" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            <button type="button" class="btn btn-primary pull-right margin" data-widget="remove">关闭</button>
            <button type="button" class="btn btn-success pull-right margin" id="submitUserBtn">保存</button>
        </div>
        <!-- /.box-footer -->
    </div>
</div>


<div id="roleAddBox" class="col-xs-4">
    <div class="box box-info" style="display: none;">
        <div class="box-header with-border">
            <h3 class="box-title">添加角色</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <form role="form" id="roleForm">
                <label>角色</label>
                <input type="hidden" id="roleId" name="uuid"/>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon" title="角色名">
                                <i class="fa fa-users"></i>
                            </span>
                            <input id="roleName"
                                   type="text"
                                   name="name" class="form-control"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            <button type="button" class="btn btn-primary pull-right margin" data-widget="remove">关闭</button>
            <button type="button" class="btn btn-success pull-right margin" id="submitRoleBtn">保存</button>
        </div>
        <!-- /.box-footer -->
    </div>
</div>

<div id="resourcesTreeBox" class="col-xs-4">
    <div class="box box-info" style="display: none;">
        <div class="box-header with-border">
            <h3 class="box-title">关联资源</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div id="permissionTree"></div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            <button type="button" class="btn btn-primary pull-right margin" data-widget="remove">关闭</button>
            <button type="button" class="btn btn-success pull-right margin" id="submitResourcesBtn">保存</button>
        </div>
        <!-- /.box-footer -->
    </div>
</div>

<div id="roleTreeBox" class="col-xs-4">
    <div class="box box-info" style="display: none;">
        <div class="box-header with-border">
            <h3 class="box-title">角色列表</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div id="roleTree"></div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            <button type="button" class="btn btn-primary pull-right margin" data-widget="remove">关闭</button>
            <button type="button" class="btn btn-success pull-right margin" id="submitRoleTreeBtn">保存</button>
        </div>
        <!-- /.box-footer -->
    </div>
</div>




<link rel="stylesheet" href="AdminLTE-2.3.11/plugins/datatables/dataTables.bootstrap.css"/>
<link rel="stylesheet" href="AdminLTE-2.3.11/plugins/bootstrap-treeview/bootstrap-treeview.css"/>


<script src="AdminLTE-2.3.11/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="AdminLTE-2.3.11/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="AdminLTE-2.3.11/plugins/bootstrap-treeview/bootstrap-treeview.js"></script>
<script src="js/teacher/permission.js"></script>
