<div class="tab-pane active" id="subjectListTab">
    <section class="content-header">
        <h1>试题列表
            <small>subject list</small>
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i> 主目录</li>
            <li>试题管理</li>
            <li class="active">试题查询</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row" xmlns:th="http://www.w3.org/1999/xhtml">
            <div class="col-xs-12">
                <!-- /.box -->
                <div class="box">
                    <div style="cursor: pointer;" class="box-header">
                        <div class="glyphicon glyphicon-plus" id="addSubject" title="添加">添加</div>
                        <div class="glyphicon glyphicon-remove" id="deleteSubject" title="删除">删除</div>
                        <div class="glyphicon glyphicon-pencil" id="updateSubject" title="编辑">编辑</div>
                        <div class="glyphicon glyphicon-refresh" id="refreshSubject" title="刷新">刷新</div>
                        <div class="glyphicon glyphicon-stats" id="chartSubject" title="图表">图表</div>
                        <div class="glyphicon glyphicon-cloud-upload" id="uploadSubject" title="上传">上传</div>
                        <div class="glyphicon glyphicon-cloud-download" id="downloadSubject" title="下载">下载</div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="subject1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12">
                                    <form role="form" id="subjectListForm">
                                        <table id="subject1" class="table table-bordered table-striped dataTable"
                                               role="grid"
                                               aria-describedby="subject1_info">
                                            <thead>
                                            <tr role="row">
                                                <th><input class="thCheckbox" type="checkbox"/></th>
                                                <th>试题描述</th>
                                                <th>试题类型</th>
                                                <th>分数</th>
                                                <th>解析</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
    </section>
</div>
<!-- /.tab-pane -->
<div class="modal" id="subjectInfoDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close clsBtn" data-dismiss="subjectInfoDialog" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">试题详情</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info clsBtn" data-dismiss="subjectInfoDialog">关闭</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal" id="subjectChartDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close clsBtn" data-dismiss="subjectChartDialog" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">图表展示</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <canvas width="600" height="230" id="subjectChartCanvase"></canvas>
                </div>
                <div class="row blue-button-group">
                    <button type="button" id="staSubjectUpdateWhen" class="btn pull-right btn-default margin">时间
                    </button>
                    <button type="button" id="staSubjectUpdateBy" class="btn pull-right btn-default margin">作者</button>
                    <button type="button" id="staSubjectType" class="btn pull-right btn-default btn-danger margin">类型
                    </button>
                    <button type="button" id="staSubjectScore" class="btn pull-right btn-default margin">分值</button>
                </div>
                <div class="row green-button-group">
                    <button type="button" id="staSubjectBar" class="btn pull-right btn-default btn-success margin">柱状图
                    </button>
                    <button type="button" id="staSubjectLine" class="btn pull-right btn-default margin">折线图</button>
                    <button type="button" id="staSubjectRadar" class="btn pull-right btn-default margin">雷达图</button>
                    <button type="button" id="staSubjectDoughnut" class="btn pull-right btn-default margin">饼图</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="launchStaSubject" class="btn btn-warning margin">统计</button>
                <button type="button" class="btn btn-info clsBtn" data-dismiss="subjectChartDialog">关闭</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal" id="subjectUploadDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close clsBtn" data-dismiss="subjectUploadDialog" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">导入Excel</h4>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" action="subject/uploadExcel" id="subjectUploadForm" method="post">
                    <div class="form-group">
                        <label for="subjectImportExcel">文件导入</label>
                        <input type="file" id="subjectImportExcel" name="subjectImportExcel"/>
                        <p class="help-block">前选择一个Excel文件!</p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="uploadSubjectBtn">上传</button>
                <button type="button" class="btn btn-info clsBtn" data-dismiss="subjectUploadDialog">关闭</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<link rel="stylesheet" href="AdminLTE-2.3.11/plugins/datatables/dataTables.bootstrap.css"/>
<style>
    .tb_subjectInfo {
        cursor: pointer;
    }

    #subjectInfoDialog {
        display: none;
    }

    #dig_subjectName {
        font-weight: bold;
    }
</style>
<script src="AdminLTE-2.3.11/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="AdminLTE-2.3.11/plugins/jQuery/jquery.form.js"></script>
<script src="AdminLTE-2.3.11/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="AdminLTE-2.3.11/plugins/chartjs/Chart.min.js"></script>
<script src="js/teacher/subject_list.js"></script>