<div class="row" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="cursor: pointer;">
                <div class="glyphicon glyphicon-eye-open"> 预览</div>
            </div>
            <div class="box-body">
                <form role="form" id="subjectItemForm" action="subject/addSubject">
                    <div class="form-group">
                        <label for="subjectName">试题名</label>
                        <input id="subjectId" name="subjectId" th:value="${subject}?${subject.uuid}" type="hidden"/>
                        <textarea th:text="${subject}?${subject.subjectName}" id="subjectName" class="form-control" rows="4" name="subjectName"
                                  placeholder="在此输入试题名..."></textarea>
                    </div>
                    <label>试题类型 &amp; 试题分值</label>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <select name="subjectType" class="form-control select2 select2-hidden-accessible">
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="input-group">
                                <span class="input-group-addon" title="分值"><i class="fa fa-dollar"></i></span>
                                <input th:value="${subject}?${subject.subjectScore}" type="text" name="subjectScore" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="subjectItem">
                        <label>试题选项</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                            <label class="itemCheckbox">
                              <div class="icheckbox_flat-green"
                                   style="position: relative;">
                                  <input name="answers" type="checkbox" checked="checked" value="false"
                                         class="flat-red"/>
                                  <ins class=" iCheck-helper"></ins>
                              </div>
                            </label>
                            </span>
                            <input type="hidden" name="subjectItemId0" class="subjectItemIds"/>
                            <input type="text" name="subjectItem0" class="form-control"/>
                            <span class="input-group-addon addItem"><i class="fa fa-plus"></i></span>
                            <span class="input-group-addon removeItem"><i class="fa fa-remove"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="subjectName">试题解析</label>
                        <textarea th:text="${subject}?${subject.subjectParse}" id="subjectParse" class="form-control" rows="2" name="subjectParse"
                                  placeholder="在此输入解析"></textarea>
                    </div>
                </form>
            </div>
            <div class="box-footer">
                <button type="reset" class="btn btn-primary pull-right">重置</button>
                <button type="submit" class="btn btn-primary pull-right">提交</button>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="AdminLTE-2.3.11/plugins/iCheck/all.css"/>
<link rel="stylesheet" href="AdminLTE-2.3.11/plugins/select2/select2.min.css"/>
<link rel="stylesheet" href="AdminLTE-2.3.11/dist/css/AdminLTE.min.css"/>
<link rel="stylesheet" href="AdminLTE-2.3.11/dist/css/skins/_all-skins.min.css"/>
<style>
    .itemCheckbox{
        height: 14px;
    }

    .input-group-addon {
        cursor: pointer;
    }

    .iCheck-helper {
        position: absolute;
        top: 0%;
        left: 0%;
        display: block;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        background: rgb(255, 255, 255);
        border: 0px;
        opacity: 0;
    }

    .flat-red {
        position: absolute;
        opacity: 0;
    }
</style>
<script src="AdminLTE-2.3.11/plugins/iCheck/icheck.min.js"></script>
<script src="AdminLTE-2.3.11/plugins/select2/select2.full.min.js"></script>
<script src="js/teacher/subject_add.js"></script>