<div class="tab-pane active" id="subjectAddTab">
    <section class="content-header">
        <h1>添加试题
            <small>subject add</small>
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i> 主目录</li>
            <li>试题管理</li>
            <li class="active">试题添加</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row" xmlns:th="http://www.w3.org/1999/xhtml">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header" style="cursor: pointer;">
                        <div id="previewSubject" class="glyphicon glyphicon-eye-open">预览</div>
                        <div id="uploadSubjectImg" class="glyphicon glyphicon-picture" title="上传图片">图片</div>
                    </div>
                    <div class="box-body">
                        <form role="form" id="subjectItemForm" action="subject/addSubject">
                            <div class="form-group">
                                <label for="subjectName">试题名</label>
                                <input id="subjectId" name="subjectId" th:value="${subject}?${subject.uuid}"
                                       type="hidden"/>
                                <textarea th:text="${subject}?${subject.subjectName}" id="subjectName"
                                          class="form-control" rows="4" name="subjectName"
                                          placeholder="在此输入试题名..."></textarea>
                            </div>
                            <!--<label>试题类型 &amp; 试题分值</label>-->
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>试题类型</label>
                                        <select name="subjectType"
                                                id="subjectType" class="form-control select2">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>试题分值</label>
                                        <div class="input-group">
                                            <span class="input-group-addon" title="分值"><i
                                                    class="fa fa-dollar"></i></span>
                                            <input id="subjectScore" th:value="${subject}?${subject.subjectScore}"
                                                   type="text"
                                                   name="subjectScore" class="form-control"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="subjectItem">
                                <label>试题选项</label>
                                <div class="input-group">
                            <span class="input-group-addon">
                            <label class="itemCheckbox">
                              <div class="icheckbox_flat-green">
                                  <input style="opacity: 0;" name="answers" type="checkbox" checked="checked"
                                         value="false"/>
                                  <ins class=" iCheck-helper"></ins>
                              </div>
                            </label>
                            </span>
                                    <input type="hidden" name="subjectItemId0" class="subjectItemIds"/>
                                    <input type="text" name="subjectItem0" class="form-control"/>
                                    <span class="input-group-addon addItem"><i class="fa fa-plus"></i></span>
                                    <span class="input-group-addon removeItem"><i class="fa fa-remove"></i></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="subjectName">试题解析</label>
                                <textarea th:text="${subject}?${subject.subjectParse}" id="subjectParse"
                                          class="form-control" rows="2" name="subjectParse"
                                          placeholder="在此输入解析"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer">
                        <button type="reset" class="margin btn btn-primary pull-right">重置</button>
                        <button type="submit" id="subjectSubmit" class="margin btn btn-primary pull-right">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div class="modal" id="subjectPreviewDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close clsBtn" data-dismiss="subjectPreviewDialog" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">试题详情</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info clsBtn" data-dismiss="subjectPreviewDialog">关闭</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div id="subjectImgBox" class="col-xs-5">
    <div class="box box-info" style="display: none;">
        <div class="box-header with-border">
            <h3 class="box-title">上传图片</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row margin">
                <form enctype="multipart/form-data" action="subject/imgUpload" id="subjectImgForm" method="post">
                    <div class="form-group">
                        <label for="subjectImgFile">试题图片</label>
                        <input type="hidden" name="subjectId"/>
                        <input type="file" id="subjectImgFile" name="subjectImgFile"/>
                        <p class="help-block">注意:必须先保存试题才能上传图片,图片有且只有一张</p>
                    </div>
                </form>
            </div>
            <div class="row margin">
                <table id="subjectImgTable" class="table table-bordered table-striped dataTable">
                    <thead>
                    <tr role="row">
                        <th>类型</th>
                        <th>名字</th>
                        <th>大小</th>
                        <th>上传时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            <button type="button" class="btn btn-primary pull-right margin" data-widget="remove">关闭</button>
            <button type="button" class="btn btn-success pull-right margin" id="uploadImgBtn">上传</button>
        </div>
        <!-- /.box-footer -->
    </div>
</div>


<link rel="stylesheet" href="AdminLTE-2.3.11/plugins/iCheck/all.css"/>
<link rel="stylesheet" href="AdminLTE-2.3.11/plugins/select2/select2.min.css"/>
<link rel="stylesheet" href="AdminLTE-2.3.11/dist0/css/AdminLTE.min.css"/>
<link rel="stylesheet" href="AdminLTE-2.3.11/dist0/css/skins/_all-skins.min.css"/>

<style>
    .itemCheckbox {
        height: 14px;
    }

    .input-group-addon {
        cursor: pointer;
    }

    #subjectImgTable a {
        color: black;
    }
</style>
<script src="AdminLTE-2.3.11/plugins/select2/select2.full.min.js"></script>
<script src="js/teacher/subject_add.js"></script>