<div class="tab-pane active" id="userInfoTab">
    <section class="content-header">
        <h1>用户信息
            <small>userInfo list</small>
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i> 主目录</li>
            <li class="active">用户信息</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row" xmlns:th="http://www.w3.org/1999/xhtml">
            <div class="col-xs-12">
                <!-- /.box -->
                <div class="box">
                    <div style="cursor: pointer;" class="box-header">
                        <div class="glyphicon glyphicon-refresh" id="refreshUserInfo" title="刷新">刷新</div>
                        <div th:remove="${#sets.contains(session.resources,'userInfo_download')} ? none : all" class="glyphicon glyphicon-download-alt" id="downloadUserInfo" title="下载"><a href="userInfo/downloadExcel">下载</a></div>
                        <div th:remove="${#sets.contains(session.resources,'userInfo_chart')} ? none : all" class="glyphicon glyphicon-stats" id="chartUserInfo" title="图表">图表</div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="userInfo1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12">
                                    <form role="form" id="userInfoListForm">
                                        <table id="userInfo1" class="table table-bordered table-striped dataTable">
                                            <thead>
                                            <tr>
                                                <th>
                                                    <input class="thCheckbox" type="checkbox"/></th>
                                                <th>用户名</th>
                                                <th>昵称</th>
                                                <th>性别</th>
                                                <th>生日</th>
                                                <th>职业</th>
                                                <th>电话</th>
                                                <th>QQ</th>
                                                <th>邮箱</th>
                                                <th>个性签名</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
    </section>
</div>
<!--/.tab-pane -->

<div class="modal" id="userInfoChartDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close clsBtn" data-dismiss="userInfoChartDialog" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">图表展示</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <canvas width="600" height="230" id="userInfoChartCanvase"></canvas>
                </div>
                <div class="row blue-button-group">
                    <button type="button" id="staUserInfoSex" class="btn pull-right btn-default margin">性别</button>
                    <button type="button" id="staUserInfoJob" class="btn pull-right btn-default margin">职业</button>
                    <button type="button" id="staUserInfoAge" class="btn pull-right btn-danger btn-default margin">年龄</button>
                </div>
                <div class="row green-button-group">
                    <button type="button" id="staUserInfoBar" class="btn pull-right btn-default btn-success margin">柱状图</button>
                    <button type="button" id="staUserInfoLine" class="btn pull-right btn-default margin">折线图</button>
                    <button type="button" id="staUserInfoRadar" class="btn pull-right btn-default margin">雷达图</button>
                    <button type="button" id="staUserInfoDoughnut" class="btn pull-right btn-default margin">饼图</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="launchStaUserInfo" class="btn btn-warning margin">统计</button>
                <button type="button" class="btn btn-info clsBtn" data-dismiss="userInfoChartDialog">关闭</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<link rel="stylesheet" href="AdminLTE-2.3.11/plugins/datatables/dataTables.bootstrap.css"/>
<style>
    #downloadUserInfo a{
        color:black;
    }
</style>
<script src="AdminLTE-2.3.11/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="AdminLTE-2.3.11/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="AdminLTE-2.3.11/plugins/chartjs/Chart.min.js"></script>
<script src="js/teacher/userInfo.js"></script>