* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../images/pic4410.jpg) no-repeat;
    background-size: cover;
}

#wrap {
    width: 450px;
    height: 450px;
    background: url(../images/loginback.png) no-repeat;
    background-size: contain;
    margin: 0 auto;
    position: relative;
    top: 100px;
}

#content {
    position: relative;
    top: 220px;
    width: 250px;
    margin: auto;
}

label {
    font-size: 15px;
}

input {
    margin: 3px 0;
}
