<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8"></meta>
    <title>Login</title>
    <link href="css/login.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div id="wrap">
    <div id="content">
        <form id="mainForm" method="post" action="login">
            <table>
                <tr>
                    <td><label for="username">用户名:</label></td>
                    <td><input type="text" id="username" name="username"/></td>
                </tr>
                <tr>
                    <td><label for="password">密&nbsp;码:</label></td>
                    <td><input type="password" id="password" name="password"/></td>
                </tr>
                <tr align="right">
                    <td colspan="2"><input type="submit" value="登录"/><input type="reset" name="重置" id="reset"/> </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>